body{
    background-color:rgb(221, 221, 221) ;
}
.fondonavbar,
.background {
    background-color: #2AC0C0;
}

.labelNavbar {
    color: #fff !important;
    font-size: 24px;
    font-weight: 500;
    font-family: "Helvetica Neue", Helvetica, Arial;
}


/*Cabezera*/

.header-images-nombre {
    background-color: #2B76AD;
    color: white;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
}

#header-name-cetpro {
    -webkit-text-stroke: 0.5px rgb(0, 0, 0);
    margin-top: 58px;
    -webkit-text-stroke: 1px black;
}

@media (max-width: 767px) {
    #header-name-cetpro {
        -webkit-text-stroke: 0.5px rgb(0, 0, 0);
        margin-top: 0;
        -webkit-text-stroke: 1px black;
    }
}

.header-images-nombre #logos-secondarys {
    background-color: #67B7F1;
    height: 100%;
    padding-bottom: 15px;
}

.logo2 {
    width: 100%;
}


/**/

.fondonavbar {
    background-color: #2AC0C0;
}

.labelNavbar {
    color: #fff !important;
    font-size: 24px;
    font-weight: 500;
    font-family: "Helvetica Neue", Helvetica, Arial;
}

.navbarPosition {
    display: flex !important;
    justify-content: space-between !important;
    margin-right: 0 !important;
    text-align: center !important;
}

li {
    padding: 2px 2px;
    width: 100% !important;
}

li:hover {
    background-color: #2B76AD;
}

@media (min-width: 978px) {
    .navbarPosition {
        display: flex !important;
        justify-content: space-evenly !important;
        margin-right: 0 !important;
        text-align: center !important;
        width: 100% !important;
    }
}

.nav,
.navRightLeft {
    padding: 0 !important;
}


/* Conocenos */

#ul-valores {
    columns: 3;
    -webkit-columns: 3;
    -moz-columns: 3;
}

#text-ubicacion {
    color: #fff;
}


/* Conocenos */


/* Footer */

.footerBackgroud {
    background-color: #0D3E86;
}

.ico {
    color: #fff;
    font-size: 50px;
}

.icoUbication {
    color: #fff;
    font-size: 25px;
    margin-left: 5px;
    margin-right: 7px;
}

.separation {
    font-size: 35px;
    margin-left: 8px;
}

@media (max-width: 991px) and (min-width: 768px) {
    .separateResponsive {
        display: flex !important;
        justify-content: space-evenly !important;
    }
}

.spacing {
    margin-left: 15px!important;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    margin-right: 15px !important;
}

.dato {
    height: 120px;
}

.first {
    position: relative;
}

.second {
    position: absolute;
    margin-top: -25%;
    margin-left: 23%;
    cursor: pointer;
}

.img {
    width: 100%;
}
/* carreras */
.backgroundCarreras{
    background-color:#9F9EF4;
}
.carrerasTittle{
     background-color:#2F2E75;
}
.tittle{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.tittle2{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.carreraModulo{
    background-color:#1325CC;    /* width: 220px; */
}
.line{
    background-color: #000000;
    height:4px;
}
/* modulos */
.margin{
    margin-left: 20px !important;
    margin-right: 20px !important;
}
.textModule{
    font-weight: 900;
    font-family: Georgia, 'Times New Roman', Times, serif !important;
}

/* Blog */

#text-ubicacion,
#text-galeria {
    color: #fff;
    padding: 4px;
}

.background-blue {
    background-color: #272F59;
    color: #fff;
}

.background-violet {
    background-color: #54446B;
    color: #fff;
}

a {
    color: white;
}


/* /Blog */
.tit{
    color: #ffffff;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    background:#2a98c0;
    padding:8px 4px !important;
    border-radius: 15px !important;
    margin:  0 auto !important;
    width:250px;
    cursor: pointer;
}
.tit:hover{
    background-color: #fff;
    color: #047eaa;
}
a{
    text-decoration: none;
}
/* Contactanos */

.text-contactanos {
    color: #fff;
    padding: 4px;
    background-color: #2C8383;
    width: 50%;
}

h6 {
    margin-left: 10px;
    margin-top: 5px;
}

.caja {
    background: #2AC0C0;
    color: black;
    padding: 2px;
    border: 1px solid #2C8383;
}


/* /Contactanos */