/*Cabezera*/

.header-images-nombre {
    background-color: #2B76AD;
    color: white;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
}

#header-name-cetpro {
    -webkit-text-stroke: 0.5px rgb(0, 0, 0);
    -webkit-text-stroke: 1px black;
}

.header-images-nombre #logos-secondarys {
    background-color: #67B7F1;
    height: 100%;
    padding-bottom: 15px;
}


/**/

.fondonavbar {
    background-color: #2AC0C0;
}

.labelNavbar {
    color: #fff !important;
    font-size: 24px;
    font-weight: 500;
    font-family: "Helvetica Neue", Helvetica, Arial;
}

.navbarPosition {
    display: flex !important;
    justify-content: space-between !important;
    margin-right: 0 !important;
    text-align: center !important;
}

li {
    padding: 2px 2px;
    width: 100% !important;
}

li:hover {
    background-color: #2B76AD;
}

@media (min-width: 978px) {
    .navbarPosition {
        display: flex !important;
        justify-content: space-evenly !important;
        margin-right: 0 !important;
        text-align: center !important;
        width: 100% !important;
    }
}

.nav,
.navRightLeft {
    padding: 0 !important;
}


/* Footer */

.footerBackgroud {
    background-color: #0D3E86;
}

.ico {
    color: #fff;
    font-size: 50px;
}

.icoUbication {
    color: #fff;
    font-size: 25px;
    margin-left: 5px;
    margin-right: 7px;
}

.separation {
    font-size: 35px;
    margin-left: 8px;
}

@media (max-width: 991px) and (min-width: 768px) {
    .separateResponsive {
        display: flex !important;
        justify-content: space-evenly !important;
    }
}